html {
  font-size: 1.6rem;
  font-size: 62.5%;
}
form {
  position: fixed;
  top: 5rem;
  font-size: 1.8rem;
  border-top: none;
  border-left: none;
  z-index: 1;
}
a {
  text-decoration: none;
  color: black;
}
.mt1 {
  margin-top: 1rem;
}
.btnimg {
  position: fixed;
  right: 1rem;
  top: 1rem;
  width: 3rem;
  display: inline-block;
}
.btn {
  position: fixed;
  top: 5rem;
  font-size: 1.8rem;
  border-top: none;
  border-left: none;
  z-index: 1;
}
.btn-primary {
  background-color: #FFFFFF;
  color: gainsboro;
}
.btn1 {
  background-image: url(img/}H`$A6%9{3EX{6TUXWMIN{A_03.jpg);
}
.btn1:hover {
  background-color: gainsboro;
}
.btn2:hover {
  background-color: gainsboro;
}
.btn3:hover {
  background-color: gainsboro;
}
.header {
  position: fixed;
  top: 0rem;
  width: 100%;
  height: 5rem;
  background-color: #5FC0CD;
  z-index: 1;
}
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
button:focus {
  outline: none;
}
.boss,
.worker {
  font-size: 2rem;
}
.chongdie {
  background-color: #55a8b3;
  border-radius: 5px;
}
.boss {
  background-color: #55a8b3;
  color: #FFFFFF;
  border: 1px solid #55a8b3;
  border-radius: 5px;
}
.worker {
  background-color: #FFFFFF;
  color: #5FC0CD;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.img_year {
  width: 25px;
  height: 24px;
  background: url(../img/spair1.png) -124px -76px;
}
.img_target {
  width: 25px;
  height: 24px;
  background: url(../img/spair1.png) -113px -126px;
  margin-left: 0.2rem;
}
.img_rua {
  width: 20px;
  height: 33px;
  background: url(../img/spair1.png) -76px -126px;
  padding-right: 1rem;
}
.btn-group {
  width: 100%;
}
.btn:focus {
  background-color: none;
}
.main {
  margin-top: 9rem;
  width: 100%;
  overflow: hidden;
}
.graycolor {
  font-weight: 200;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.graycolor1 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 200;
  margin-left: 0.8rem;
}
.graycolor2 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 1rem 0;
  margin-left: 3rem;
}
.time {
  color: red;
  white-space: nowrap;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 9rem;
  background-color: #f8fafb;
}
.btn_home {
  background-color: #f8fafb;
  border: none;
}
.flex_box {
  display: flex;
}
.flex_around {
  justify-content: space-around;
}
.flex_col {
  flex-direction: column;
}
.flex_between {
  justify-content: space-between;
}
.flex_items_center {
  align-items: center;
}
.flex_start {
  justify-content: flex-start;
}
.flex_justcenter {
  justify-content: center;
}
.max_box {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.flex_row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.flex_col7 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.flex_col5 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.flex_col4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.face {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(../img/未标题-1_03.png) no-repeat scroll right center transparent;
  background-color: #FFFFFF;
  width: 33.3%;
  font-size: 1rem;
  color: #C0C0C0;
  border: none;
  border-right: 1px solid #C0C0C0;
  border-bottom: 1px solid #C0C0C0;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 1.5rem;
  outline: none;
  text-align: center;
  text-align-last: center;
  padding: 0.5rem 0;
}
option {
  padding: 2rem 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@-ms-viewport {
  width: device-width;
}
h3 {
  margin: 0 1rem;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
@media (min-width: 576px) {
  .flex_col_sm8 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .flex_col_sm4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
