body{
	background-color: #68CDD6;
}
.first{
	margin-left: 1%;
	margin-top: 1%;
}
.second{
	text-align: center;
	
}
.write{
	padding: 18%;
	color: #FFFFFF;
}
.father{
	float: left;
	padding-left: 10%;
}
.mather{
	float: right;
	padding-right: 18%;
}
.word{
	color: #FFFFFF;
	text-align: center;
}
